[2019-11-05 22:49] dakhnod commented on #965
@jo930 yes, that is the goal

[2019-11-06 06:31] ashimokawa commented on #1695
@weliem

AFAIK it has that.
You need the master branch and enter the key extracted from mitfit (or from the above log ;) )

[2019-11-06 10:47] Lightwars commented on #1701
This depends on device vendor or android version. For me it is here: "/data/misc/bluetooth/logs/btsnoop_hci.log"

It is possible that this file "/etc/bluetooth/bt_stack.conf" says where to store the log file, for example there is a line like this: "BtSnoopFileName =/sdcard/btsnoop_hci.log".

Note: you need root to copy this log or access the location.

[2019-11-06 16:16] gbraad commented on #1714
The Watch 9 and Watch S are based on the same SmartMovt C001S movement, but likely identifies differently.

[2019-11-06 21:55] ARMrus commented on #1701
Yes, there is a large binary file. How to read it now? If decoder for this file?

[2019-11-07 01:13] oneadamtwelve opened #1721 "Calendar Notifications - Only Work Once After Restart"
#### Before reporting a bug, please confirm the following:
- [X] I have read the [wiki](https://github.com/Freeyourgadget/Gadgetbridge/wiki), and I didn't find a solution to my problem / an answer to my question.
- [X] I have searched the [issues](https://github.com/Freeyourgadget/Gadgetbridge/issues), and I didn't find a solution to my problem / an answer to my question.
- [X] If you upload an im

[2019-11-08 08:53] alespg commented on #965
@dakhnod once the new firmware is supported, do you recommend to update the watch? is there any improvement? i am very happy with how things work now and i wouldn't update if there is no benefits. besides, i have the activist model, which doesn't have the third hand.

have you seen the new fossil hybrid models? they include a screen now, so i think these analogical models will be the last of their

[2019-11-08 08:57] dakhnod commented on #965
@alespg I do not really see any benefits of the new firmware, so no reason to upgrade...

TBH, the new models look quite nice to me, I may get one

[2019-11-08 09:27] alespg commented on #965
@dakhnod lets see what fossil can offer, but in that concept i like best the vivomove aproach

[2019-11-08 12:44] DocSniper commented on #1707
It would be even nicer if we set the day / night mode as a function of the civil sunrise and sunset.
There is a good library that can do this calculation depending on the coordinates.
https://github.com/MenoData/Time4A

[2019-11-08 13:53] ndanieley commented on #1554
I'm having the same issue, firmware V1.1.6.34. If I put the MAC address into gadgetbridge it seems to see the bip, but can't pair. I was going to try the server pairing, but long-pressing on the device name doesn't do anything, so I can't enter a key. is anyone working on this?

[2019-11-09 16:37] chinahotel commented on #1191
You can minimize the notification.

Android 9: Long press the notification and select 'minimize'

Android 10/Q: Long press the notification and select the litte gear in the top right corner. Select the notification to minimize (tap on the name, not the toogle on the right). Now choose minimize.

It's still  in the drawer, but not in the notification bar anymore (ideal solution for me)

[2019-11-10 06:52] 1kaiser commented on #1021
https://www.youtube.com/watch?v=XDc5HUVMI5U

[2019-11-10 07:25] vanous commented on #1707
@DocSniper but is your daily schedule driven by the :sunny: or by the :alarm_clock:? I would actually presume the latter. :innocent:

[2019-11-10 08:24] zyv commented on #1021
@1kaiser so now that you've learned the basics of BLE, help me to fix the bonding ;) Here is one of the reasons for the changes, the embargo has been now lifted - sorry about the inconvenience:

https://www.huawei.com/en/psirt/security-advisories/huawei-sa-20191106-01-band-en

[2019-11-10 10:19] DocSniper commented on #1707
@vanous  I would prefer the first option :sunny:, because when it's dark and I'm outside or at home with artificial light, full brightness is too bright for me. Here in my area the sunrise and sunset fluctuates strongly between summer and winter so a fixed time makes no sense to me. I think both settings should be possible, by time and by civil sunrise and sunset, so anyone can choose the one that

[2019-11-10 10:24] vanous commented on #1707
Is brightness settings available in MiFit? The Bip has different LCD, epaper like, which gives full view in bright sun... this is one of the reasons i think Bips are far superior to the bands...

[2019-11-11 10:44] TimH54 commented on #965
I just bought a "Collider HR". Indeed, a very nice watch!

The Fossil app of course transmits all data to Fossil. I have completely deactivated data access for the app, so that should solve that problem, although I guess I will miss out on Firmware updates.

Unbelievably, the original app can only send notifications for a few select "mainstream" apps. The only email notifications, for example, it

[2019-11-11 11:01] dakhnod commented on #965
@TimH54 I would love to implement support for those, but unfortunately, I don't own one and don't have the means to get one right now...

[2019-11-11 11:06] TimH54 commented on #965
Yeah, I understand. Maybe if there are a few people interested in this, we could find the money to buy you one? I for one would be willing to donate some money ...

If you sign up to the Fossil newsletter, you get a 15% discount code, so the watch costs 170 EUR.

[2019-11-11 14:34] anishp55 commented on #981
i'd be interested in implementing this.  any pointers on where to start?

[2019-11-11 14:39] TheTyrius commented on #981
At list on the sleep-as-android side this would be https://sleep.urbandroid.org/documentation/developer-api/wearable-integration-api/

[2019-11-11 15:01] alespg commented on #965
+1 on this

[2019-11-11 16:38] ffranchina commented on #1468
There's the PR #925 that is stuck and we have no news about it. Once the app implements the broadcast of the button's event we can have access to a broad number of different applications. Let's hope someone will look into that sooner or later!

[2019-11-11 21:54] nr458h commented on #1695
Hey guys I received my gts today and I would like to ask if you think that we will have a working release (without the need to build it on my own and to get the ID from the anazfit app) soon?

Because I can't test my gts, as the amazfit app is not working with lineageos oneplus 5t. Is there anything I can do?
would be great - thanks for your effort anyway!

m

[2019-11-12 06:32] ashimokawa commented on #1695
I will tag a release today

[2019-11-12 07:24] ashimokawa commented on #1695
@nr458h
You have to get the key from the amazfit app. There is nothing we can do about that. Apart from that 0.39.0 is tagged and should work with the GTS

[2019-11-12 07:25] ashimokawa commented on #1695
I am closing this, please report individual issues

[2019-11-12 07:25] #1695 closed

[2019-11-12 09:13] cRaZy-bisCuiT commented on #50
Are there any news about the Mi Smart Kettle?

[2019-11-12 14:07] ARMrus opened #1722 "Huami Amazfit GTR does not reconnect to the smartphone when the connection is lost"
#### Before reporting a bug, please confirm the following:
- [x] I have read the [wiki](https://github.com/Freeyourgadget/Gadgetbridge/wiki), and I didn't find a solution to my problem / an answer to my question.
- [x] I have searched the [issues](https://github.com/Freeyourgadget/Gadgetbridge/issues), and I didn't find a solution to my problem / an answer to my question.
- [x] If you upload an im

[2019-11-12 14:15] ashimokawa commented on #1722
I think Gadgetbridge does not even work well when mifit is installed.

Also no one of us owns the watch.

Help is welcome.

[2019-11-12 20:55] nr458h commented on #1695
many thanks for the fast response. I will have a look at this as soon as the release hits the f-droid store

[2019-11-12 21:12] nr458h commented on #1695
just for those who don't know that this key-thing is similar to mi band 4.

Please have a look here![here](https://codeberg.org/Freeyourgadget/Gadgetbridge/wiki/Huami-Server-Pairing) on how to pair your gts

[2019-11-12 21:31] korden32 commented on #1722
Does it reconnects if you long tap on the device in GB (force it to "disconnect") and then short tap to connect?

[2019-11-13 03:44] joper30 commented on #1639
tablet android 8  gama baja is crash 40 bands 3 conected

[2019-11-13 05:58] ingochris commented on #914
It appears this is no longer true for factory chinese-shipped version A1608 Bips in 2019 on firmwares v.1.1.5.xx+ (my own datapoint and another user's on XDA).

[2019-11-13 12:11] ARMrus commented on #1722
no.
communication is not restored

[2019-11-14 02:42] Phyruos commented on #1554
Just gentle reminder Don't try it so hard, because my Bip death after trying that day. I tried to charge up but it just feel warm and stays black screen.

[2019-11-14 04:00] dakhnod commented on #965
news! i managed to fix the bug i have been searching for the last month, just had to up the MTU...

When everything works as intended the next few days i will merge the fossil feature branch into my q branch and you all can test it!

[2019-11-14 05:54] figericnewton opened #1723 "Activity Exported GPX Timestamp Problems"
### I got Gadgetbridge from:
* [x] F-Droid
* [ ] I built it myself from source code (specify tag / commit)

#### Your issue is:
I've noticed exported GPX file time inconsistencies. At first I figured this was due to daylight savings time, but the issue appears to persist even though we're out of DST now. When syncing and exporting an activity that I started around 16:30 UTC I got a GPX file that l

[2019-11-14 11:02] segalion opened #1724 "Amazfit bip doesnt reconect after lost connection"
#### Before reporting a bug, please confirm the following:
- [x] I have read the [wiki](https://github.com/Freeyourgadget/Gadgetbridge/wiki), and I didn't find a solution to my problem / an answer to my question.
- [x] I have searched the [issues](https://github.com/Freeyourgadget/Gadgetbridge/issues), and I didn't find a solution to my problem / an answer to my question.
- [x] If you upload an im

[2019-11-14 11:35] ashimokawa commented on #1724
Use Mi Fit if you want support

[2019-11-14 20:45] mhaseneyer opened #1725 "Add support for Beurer AS 97 activity band"
#### Before requesting a new feature, please confirm the following:
- [x] I have read the [wiki](https://github.com/Freeyourgadget/Gadgetbridge/wiki), and I didn't find a solution to my problem / an answer to my question.
- [x] I have searched the [issues](https://github.com/Freeyourgadget/Gadgetbridge/issues), and I didn't find a solution to my problem / an answer to my question.
- [x] If you upl

[2019-11-14 21:07] lakyljuk commented on #1663
I would like to note, that rejecting call is possible with Notify and Fitness and also with Master for Miband apps. No special privileges, both are installed from Google Play Store. So I think it should be possible to do it with GB. Any progress on this? If I press reject on band, it stops vibrating, but phone is still ringing.

[2019-11-14 21:08] lakyljuk commented on #1531
I would like to note, that rejecting call is possible with Notify and Fitness and also with Master for Miband apps. No special privileges, both are installed from Google Play Store. So I think it should be possible to do it with GB. Any progress on this? If I press reject on band, it stops vibrating, but phone is still ringing. Using LoS 16 latest.

[2019-11-14 21:13] rulet commented on #1663
I'm using official Mi Fit app for now -- it works, I don't know about Gadgetbridge concerning rejecting calls for now.

[2019-11-15 12:32] dakhnod commented on #965
@TimH54 could you connect to your collider using an app like NRF connect and send me a screenshot of all the services and their characteristics?

[2019-11-15 16:30] vanous commented on #1724
@segalion or  @IzzySoft kindly please press the `close` button here . Cheers.

[2019-11-15 16:51] ashimokawa commented on #1724
Can stay open, I don't care. Will fix the problem when I have time and I feel like it.

I just do not like demanding comments, insults, etc.

Remember users here are not customers! If you find things annoying, fix them, contribute, or use another software then Gadgetbridge, but do not demand spending our free time on one specific issue.

[2019-11-16 06:36] yaomtc commented on #791
Is there any workaround for recurring events, created before I got the Pebble, to show  up on the timeline? Besides just recreating them and deleting the old one?

[2019-11-16 09:02] jiri-one commented on #1089
Hi, is there any news about this feature request/issue?

[2019-11-16 14:49] yaomtc commented on #791
Never mind, it did sync past created events at some point overnight.

[2019-11-16 20:12] GitKalle commented on #965
Hello, I ordered a Fossil Collider today and play around with nRF Connect. As soon I get the watch I'll help you with information about the BLE services.

[2019-11-17 00:17] dakhnod commented on #965
Yo yo, new firmware should work now.

Please someone check it out and tell me if everything is fine.

People using tasker to forward notifications my have issues since the new api does not allow to send random notifications but rather needs to register every new application beforehand, but we will figure this out somehow.

[2019-11-17 03:57] dakhnod commented on #965
furthermore, one can now use buttons to natively show the date and use the stopwatch, you can even assign the same function to all three buttons!
Only with the new firmware though.

[2019-11-17 05:02] accountForIssues commented on #965
First off, thanks for the work put in so far to support the hybrid watches. I tested the the app and it instantly recognized and paired with my Fossil Q however I get this error (see screenshot). I am unable to edit any settings/button mappings. I can only connect and disconnect.

Take a look and let me know if you need more info.

![Screenshot](https://user-images.githubusercontent.com/52367365/6

[2019-11-17 11:18] dakhnod commented on #965
@accountForIssues right, that is the one case I hoped would just work without testing it...just a sec

[2019-11-17 12:05] alespg commented on #965
it seems the new firmware starts to be worth it, the stopwatch feature was unexpected.
any chance to support double or long clicking? :)

[2019-11-17 12:08] accountForIssues commented on #965
@dakhnod When I click on report, it just opens up an email client with no files/text attached. That's why I commented here. What do I do ? I can provide logs if you'd like.

[2019-11-17 13:24] jo930 commented on #965
I got the same error as shown above.
The report-sending worked flawlessly for me 👍

[2019-11-17 13:40] TimH54 commented on #965
Hey @dakhnod - sorry for the delayed reply - I am travelling with bad internet connection. Anyway, I installed NRF connect and initiated scans. However, I cannot see my Fossil Collider HR!? I only see a few devices that I know and some "Apple devices" that are not mine, but which I think cannot be the Collider!? I tried several times, same result. Strange! Not sure what to do? Maybe @GitKalle has

[2019-11-17 13:45] imperative commented on #965
Do you think it will be possible to add/replace custom widgets for the Fossil Hybrid HR or similar? Or are we completely stuck with the factory widgets (the ones that show in place of a complications of a normal watch)?

[2019-11-17 14:57] dakhnod commented on #965
alright, the error amongst another should be fixed now.

[2019-11-17 14:58] dakhnod commented on #965
@TimH54 try disconnecting the collider from everything first, them it should start to broadcast.

Concidering the custom widgets i can't tell anything for now without having a device...

[2019-11-17 18:27] Aquariu commented on #965
Hello !

I'm uncertain on how to proceed.
I've got a "previous firmware" Commuter, working fine with your first version of the Gadgetbridge app.

is there any benefit for me in updating the app ?

Will it install the new firmware on the watch? Should I install the Fossil app first to do that and reinstall gadgetbridge afterwards ?

Cheers!

[2019-11-17 19:30] dakhnod commented on #965
@Aquariu gadgetbridge will not install the newest firmware, you could do that using the fossil app.

The newer firmware would allow you to use functions like stopwatch and date for the buttons, although I could patch that to work with gen1 as well.

On the negative side, gen2 does not allow for playing arbitrary crafted notifications from Tasker.
It can only play notifications configured in GB.

[2019-11-17 19:42] jo930 commented on #965
So first of all big thank you @dakhnod for the update, it all seems to work wonderful now!
It is really awesome to finally be able to customize the watch features just the way I want...

One open question I have is: For the watch buttons, there are only the options "Show date"/"Forward to phone"/"stopwatch", but no option to show the last notification again. When I programmed the watch with the Fo

[2019-11-17 19:56] dakhnod commented on #965
@TimH54 i added the function.

Unfortunately, for every new function i have to [hardcode a byte array](https://github.com/dakhnod/Gadgetbridge/commit/ae57bb335bfa67691e2068e0b45dc254045d1e46) that has to be sniffed from the fossil app. So it is not that easy to add another function.

[2019-11-18 07:47] mupf commented on #965
It connected instantly and seems to work really well again. Thank you so much.
What I noticed so far: The clock face to assign a hand movement to a notification is invisible when not using dark mode. Same goes for Button assignment. I'd love to be able to set alarms, is that a future possibility? Keep up the good work! Can I donate you some euros somehow?

[2019-11-18 08:11] dakhnod commented on #965
@mupf the background is white in standard mode, yes.

You just need to tap somewhere to enable one of the hands and it becomes sufficiently visible, in my eyes.

You may be right about the button assignments, though.

I will have a look at the alarms, didn't care about that enough, yet.

[2019-11-18 08:15] mupf commented on #965
Just figured it's difficult for people who don't know the interface. I'm fine.
Can you also add the media control button binding from the fossil app? Tasker can do something like that, but only for a specific app. I'd like to play/pause any app that's currently playing.

[2019-11-18 08:19] dakhnod commented on #965
@mupf gotcha. Media buttons are slightly more difficult and will require a bit more customization, but should be doable.

[2019-11-18 12:13] segalion commented on #1724
Please, sorry @ashimokawa . I dont want to offend at all,  only want to report what I have found, and try to mark the importance of the notifications in this kind of wereables.
I appreciate your great work , and I never demand people work for me. And I undesrtand the crap of internal mysteries of android making harder and harder life for developers.

(A lot ago I made scripts in Automagic to detec

[2019-11-18 18:56] g2010a commented on #965
I'm really excited about the recent progress! @dakhnod, is there a good place to open bugs and report problems with the branches you are working on that is not this very long thread? I have an issue with a Skagen Jorn hybrid... I finally got it to be seen by Gadgetbridge (the latest debug APK you uploaded to GitHub, downloaded a few minutes ago), and it connects, but immediately after confirming t

[2019-11-19 04:52] accountForIssues commented on #965
Yeah the latest apk solves the button assignment issue.

Am I supposed to get the Button pressed toast every time it's pressed ? Because I only get it in the settings screen.

+1 for a place to add issues and suggestions. Create a new repo, maybe ? The thread _is_  getting really long :)

Media button controls, volume controls and second time zone would also be nice and/or support to forward doubl

[2019-11-19 09:53] mupf commented on #965
How can I configure the Q Hybrid action in Tasker? I can add it, but configuration stays on "nope" when I try to set it.
+1 for a place to add issues and suggestions

[2019-11-19 11:37] dakhnod commented on #965
@mupf you can not.
The new firmware does not allow Tasker notifications, since you have to configure every playable notification through the settings.

The only way is see to work around this issue is to create "virtual" notifications that are not bound to an app, but rather to an action string.

You could be able to trigger those virtual notifications through Tasker.

Anyone got any other ideas?

[2019-11-19 13:43] #1724 closed

[2019-11-19 13:43] #1271 closed

[2019-11-19 13:43] #1452 closed

[2019-11-19 13:43] #1632 closed

[2019-11-19 13:43] #564 closed

[2019-11-19 17:42] vanous commented on #1724
awesome!

[2019-11-19 19:36] mamutcho commented on #1714
In original LW app, there is 2 communication protocols C001 and C007.
Watch 9 and WatchX (plus) uses C007.
I don't know for what device is protocol C001.

[2019-11-19 19:44] sunsero commented on #1632
Can't wait for this to be available on F-Droid. Thank you very much!

[2019-11-19 21:10] dakhnod commented on #965
well, iwas wrong.

It seems like there is a way to send variable notifications to the watch e.g. to craft the hand positions and vibration pattern on the fly.

To, sending notification through tasker should still be possible, will be ditched in favour of intents soon, though.

[2019-11-19 22:04] freeloader24 commented on #1714
Do you know why I cannot connect to my Watch X? It should be the same as the "Plus" but the fork in the thread of the plus does not connect to my Watch X.

[2019-11-19 22:16] jo930 commented on #965
@dakhnod Thats exactly what I've been looking for too.

I played around a bit in the code and added the possibility to add "dummy-package"-Notifications to the list in Gadgetbridge and an intent that can be used to call these in Tasker by name. But of course this makes it impossible to have complete flexibility from Tasker-side...

I am interested to see how that is possible without "storing the n

[2019-11-19 22:21] dakhnod commented on #965
@jo930
i have been trying to understant the whole system for the few hours and for now it seems like it is not that simple to play variable notification on the fly...

Also, i implemented volume and play pause buttons, but they are absolutely useless since fossil seems to have shofted to translate to real volume/play/pause events in their app, and i don't have the energy to deal with this right no

[2019-11-19 22:45] dakhnod commented on #965
I have some good news, though:

i kinda added alarms, just not sure yet how to display them graphically.

Also you can now declare ONE of the three buttons as a multibutton, allowing you not only to press it, but to double press and even hold it.
Other apps can then listen to the "nodomain.freeyourgadget.gadgetbridge.Q_MULTI_BUTTON_PRESSED" intent with the extra "ACTION" being one of "SINGLE", "DO

[2019-11-19 23:56] dakhnod commented on #965
also, alarms should work now.

[2019-11-20 11:24] accountForIssues commented on #965
@dakhnod Awesome work ! The multi button works really well with Tasker and is so much faster than before. It now makes sense that Fossil used their app for media control as it was slower and sometimes controlled other media apps. Imho, multi button with Tasker is a better way.

It would have been great to use all the buttons as multi buttons but maybe you'll find a way ;)

I'm sorry if I missed it

[2019-11-20 12:23] dakhnod commented on #965
@accountForIssues could you try to set up the time shift a few times? Sometimes the whole app crashes regardless of which setting you change.
If it continues to crash, could you send me the logcat output?

Also, in the home screen of gadgetbridge you should be able to see a little alarm icon amongst the other icons beneath your device name.

[2019-11-20 13:21] accountForIssues commented on #965
@dakhnod Yep you're right. Time shift worked after a few tries.

There is no alarm icon for me but I was wondering whether the alarm feature is for specific devices or all ? I dunno if I used or had an alarm feature in the fossil app.

[2019-11-20 13:41] Bunias80 opened #1726 "GPS Activity for HPlus protokol"
#### Before requesting a new feature, please confirm the following:
- [ ] I have read the [wiki](https://github.com/Freeyourgadget/Gadgetbridge/wiki), and I didn't find a solution to my problem / an answer to my question.
- [ ] I have searched the [issues](https://github.com/Freeyourgadget/Gadgetbridge/issues), and I didn't find a solution to my problem / an answer to my question.
- [ ] If you upl

[2019-11-20 13:54] mupf commented on #965
I have the Commuter which has an alarm feature. Alarm icon does not show up in Gadgetbridge.

[2019-11-20 14:01] dakhnod commented on #965
@mupf could you please post a screenshot of your GB home screen?

[2019-11-20 14:03] csikiszabi commented on #1714
Hi. My watch (lenovo Watch x) connects to the gadget but does not respond to anything. I can't even set the clock. Can you help? Gadgetbride Version 0.37.0, Lenovo Watch X Version 0.5.4

[2019-11-20 14:39] csikiszabi commented on #1714
Hi. The only change is that I can set the clock with version 0.35.2. Others don't work. Please help

[2019-11-20 15:14] dakhnod commented on #965
i forgot to build the apk with alarms, should work now

[2019-11-20 15:21] mamutcho commented on #1714
@csikiszabi if you managed to connect Watch X to Gadgetbridge, can you please tell me what is device MAC address and device name in Gadgetbridge.

[2019-11-20 15:25] csikiszabi commented on #1714
![Screenshot_20191120-162232](https://user-images.githubusercontent.com/57995217/69251837-4fda1d00-0bb2-11ea-9392-fc29e25e4bf5.png)

[2019-11-20 15:26] csikiszabi commented on #1714
Hi. Were you curious about that?

[2019-11-20 15:32] mamutcho commented on #1714
Hi, @csikiszabi because MAC address of Watch 9 begin with "1C:87:79", but WatchXPlus begins with "DC:41:E5". Probably app identifies WatchX non-plus as Watch 9. I think it's a reason to not work with WatchX non-plus.

[2019-11-20 15:37] csikiszabi commented on #1714
I need a call alert, but unfortunately that doesn't work either. This can be solved

[2019-11-20 15:42] mamutcho commented on #1714
I think it can be fixed, but I don't have Watch X to try. The question is how to get the program to recognize Watch X without broking Watch 9's support.

[2019-11-20 15:49] csikiszabi commented on #1714
you can possibly find some solution to this.

[2019-11-20 16:02] freeloader24 commented on #1714
Is it only the MAC address to identify the watch? Here at the screenshot I see Watch X, so I assume that string is sent form the watch and not from a lookup table in the SW for the MAC address.

[2019-11-20 16:10] mamutcho commented on #1714
May be managed to force Watch X non-plus to be recognized as Watch XPlus. Only Altitude calibration will not work. If you have old version, please remove it.
[https://github.com/mamutcho/Gadgetbridge/releases/download/v0.39_191120/Gadgetbridge-0.39.0-debug-191120_watchX.apk](https://github.com/mamutcho/Gadgetbridge/releases/download/v0.39_191120/Gadgetbridge-0.39.0-debug-191120_watchX.apk)

[2019-11-20 16:13] freeloader24 commented on #1714
Will try it when at home. I'll give you a feedback late evening.

[2019-11-20 16:23] csikiszabi commented on #1714
I installed it, it appears

[2019-11-20 16:24] csikiszabi commented on #1714
![Screenshot_20191120-172113](https://user-images.githubusercontent.com/57995217/69256960-8d42a880-0bba-11ea-856a-84b1af087c54.png)

[2019-11-20 16:25] csikiszabi commented on #1714
but it does

[2019-11-20 16:26] csikiszabi commented on #1714
unfortunately not good

[2019-11-20 16:30] mamutcho commented on #1714
When you installed it, is there are alredy paired device? If answer is YES, first remove devife from delete button (recycle bin like button) and scan for device again.

[2019-11-20 16:36] csikiszabi commented on #1714
I tried. No change.

[2019-11-20 16:40] mamutcho commented on #1714
@csikiszabi can you please test with this version
[https://github.com/mamutcho/Gadgetbridge/releases/download/v0.39_191120/Gadgetbridge-0.39.0-debug-191120_watchX_v2.apk](https://github.com/mamutcho/Gadgetbridge/releases/download/v0.39_191120/Gadgetbridge-0.39.0-debug-191120_watchX_v2.apk)

[2019-11-20 18:00] csikiszabi commented on #1714
I can't install this app

[2019-11-20 18:00] dakhnod commented on #965
also, I implemented second timezone. gotcha.

[2019-11-20 18:04] mamutcho commented on #1714
It's strange. Here it works. Can you please try this new version?

[https://github.com/mamutcho/Gadgetbridge/releases/download/v0.39_191120/Gadgetbridge-0.39.0-debug-191120_watchX_v3.apk](https://github.com/mamutcho/Gadgetbridge/releases/download/v0.39_191120/Gadgetbridge-0.39.0-debug-191120_watchX_v3.apk)

[2019-11-20 18:14] csikiszabi commented on #1714
super. I could install this. I'll start testing.

[2019-11-20 18:26] csikiszabi commented on #1714
it came in

[2019-11-20 18:27] csikiszabi commented on #1714
![Screenshot_20191120-192407](https://user-images.githubusercontent.com/57995217/69266585-b61f6980-0bcb-11ea-9d91-c7fb6e00494c.png)

[2019-11-20 18:29] csikiszabi commented on #1714
alarm clock works, clock setting is good, call feedback not tried yet. if I retrieve the data the clock will restart

[2019-11-20 18:50] accountForIssues commented on #965
Second time zone and alarms work perfectly. Thank you so much for this.

[2019-11-20 18:51] csikiszabi commented on #1714
change. data downloaded successfully. sometimes the clock restarts, sometimes not

[2019-11-20 19:02] mamutcho commented on #1714
I don't know what causes watch restarts.
Watch X Plus do not restart on data retrieve.
May be there are some differences in communication between watch and app when data is retrieved. But protocol and commands are same, exept commands for altitude calibration (Watch X non-plus do't have barometer).

[2019-11-20 19:05] csikiszabi commented on #1714
thanks for the quick help. now I'm spending the hour. I will test it tomorrow, in the evening I will write down the experiences.

[2019-11-20 20:25] cpfeiffer commented on #965
There is a fossil label now, so you can simply create new issues for different fossil topics.

[2019-11-20 20:42] freeloader24 commented on #1714
Installation went for me smoothly. The watch connected and works fine. Even I can download the activity data. Firmware version 0.5.4
There are three things but maybe those are the limitations of the app itself currently:
- No pulse data is present
- Wake to rise is always on (cannot switch off from the watch itself and can't find an option in the app, since this is a Hybrid watch, the feature is p

[2019-11-20 20:45] freeloader24 commented on #1714
Which branch you were using? Or is this already integrated to the gatgetbridge trunk?

[2019-11-20 20:52] freeloader24 commented on #1714
I have found the two first in the app. I had to enable and disable the wake to lift and now that works fine also. The heart rate I can check in the graphs just I had to get used to it how it is drawn. So the last point remains.

[2019-11-20 20:55] mamutcho commented on #1714
@freeloader24 character bug is a firmware issue on watch itself. There are workaround in app settings, it is called Transliteration (Settings > Language and Region)

[2019-11-20 20:59] freeloader24 commented on #1714
@mamutcho Thanks, I had a feeling from the hint over there, that this might solve the problem so I have set it. However, I did not receive a notification with special characters yet. By the way, will this be integrated into the official Gatgetbridge?

[2019-11-20 21:05] mamutcho commented on #1714
@freeloader24 you can test notifications in app menu > Debug, from there you can send notification. In same place with Test new functionality can be initiatd blood pressurd measurement (if blood prdssure is calibrated).
I don't know will we go official at Gadgetbridge. Code is still in work in progress.

[2019-11-20 21:13] freeloader24 commented on #1714
@mamutcho Thanks, cool. I'm intrested in the code since I'm a developer myself dough I have never worked on Android. (worked on embedded but at a lower level. On which branch you are working on?
Gatgetbridge is already on Play store, and I was wondering if it would be integrated into that version.

[2019-11-20 21:20] mamutcho commented on #1714
@freeloader24 this is my first android app on which i work. Code is in master branch. My fork of Gadgetbridge was synced today with master branch of freeyourgadget/Gadgetbridge. I think, app in play market is unofficial. If you wish, fork my master branch of Gadgetbridge and work on it.
Master piece of code for watch is in devices/lenovo and services/lenovo

[2019-11-20 21:23] freeloader24 commented on #1714
@mamutcho Thank you. I'll take a look on it over the weekend :)

[2019-11-20 21:39] AluminumTank opened #1727 "Pebble: Crash on pressing watch button to end call"
#### Before reporting a bug, please confirm the following:
- [x] I have read the [wiki](https://github.com/Freeyourgadget/Gadgetbridge/wiki), and I didn't find a solution to my problem / an answer to my question.
- [x] I have searched the [issues](https://github.com/Freeyourgadget/Gadgetbridge/issues), and I didn't find a solution to my problem / an answer to my question.
- [x] If you upload an im

[2019-11-21 05:10] dakhnod commented on #965
status update: it seems like you are only able to arbitary set hands and even play little scripts consisting of delays, hand movements and vibrations after a button has been pressed. I did not find a way to run such a script without a pressed button.

Yet, that does open quite some oppurtunities, like issuing a http request and displaying the answer on the watch somehow, or vibrating an error if t

[2019-11-21 07:36] redhandpl commented on #965
I have Fossil Hybrid Neutra. How can I help? :-)
Additionally - where is the latest APK with Fossil support?

[2019-11-21 07:44] imagoiq commented on #934
I got the same issue using Firefox Preview, but it was working with Chrome on Android 8

[2019-11-21 08:09] GitKalle commented on #965
I got my Hybrid HR and make a screenshot from nRF Connect discovering:

![nRF_discHybridHR](https://user-images.githubusercontent.com/18066460/69318079-aee47400-0c3c-11ea-93da-8d798ca51f82.png)

Futhermore I want to help with programming, sniffing and analyzing the BLE protocol from the Hybrid HR (when I have time).

@dakhnod
1. Should I clone your repo and make pull requests there?
2. Maybe it's

[2019-11-21 11:14] dakhnod commented on #965
@redhandpl sorry, i don't like the look of that watch. no apk for you.

Just kidding, [there](https://github.com/dakhnod/Gadgetbridge/tree/fossil-q-hybrid/app/build/outputs/apk/debug) you go.

@GitKalle the answers depend on the amount of work necessary, which i could emagine being even quite reasonable.
Could you firstly please connect to the watch via nRF connect and make a screenshot of the ser

[2019-11-21 14:57] GitKalle commented on #965
![Screenshot_20191121-150237](https://user-images.githubusercontent.com/18066460/69348526-9e50ef80-0c76-11ea-86d0-bbe4e9dda1a4.png)
![Screenshot_20191121-150228](https://user-images.githubusercontent.com/18066460/69348557-aad54800-0c76-11ea-9383-924224207240.png)

I tried to connect with your latest GB version. The watch is shown in GB but when I try to connect then an exception occurred:
`java.la

[2019-11-21 16:20] dakhnod commented on #965
@GitKalle i don't understand...why are the first two screenshots different?

[2019-11-21 16:39] dakhnod commented on #965
@GitKalle could you email me? Maybe we could speed things a little up.

dakhnod@gmail.com

[2019-11-21 19:31] jumper047 commented on #1340
There are some options now - this [case](https://www.shapeways.com/product/UAMY5GZSQ/pebble-2-smartwatch-replacement-case) for example, and some other options. You can find em on reddit.com/r/pebble and on shapeways

[2019-11-21 21:36] vanous commented on #1727
I would suggests to provide Android flavor (vendor specific, CM, LOS...) or a device, i think it might be important here.

[2019-11-22 00:57] accountForIssues commented on #965
This is more of an enhancement feature and maybe it's already there but it would be nice if there could be an in-app notification if the battery level drops below, say 15%, so one can keep a replacement ready.

It could be something on the home screen of gadget builder and/or in the notification drawer.

[2019-11-22 00:58] dakhnod commented on #965
@accountForIssues that is already implemented triggering at 2% if I recall correctly

[2019-11-22 08:53] ashimokawa commented on #1340
Thanks, for the case you would need the original pebble buttons also... But nice.

@ShapeShifter499

I never managed to use the molds properly. My p2 is now "fixed" with sugru + plastic pieces. Enough for testing but not as an everyday device.

[2019-11-22 09:14] csikiszabi commented on #1714
Hi. I started using the app. I haven't tried heart rate and blood pressure measurement yet. Everything else works. I have a problem. Sometimes the phone and the clock are disconnected. You will then have to reconnect them manually.

[2019-11-22 09:16] vanous commented on #1340
I have pebbles of which buttons you could use. In case of interest, ping me, they are sitting here useless...

[2019-11-22 09:39] jumper047 commented on #1340
You can try this one - https://www.shapeways.com/product/ANHBW4GHU/pebble-2-buttons-all-in-one-new?optionId=132584896
Whole case replacement is seems to be waterproof btw (one of creators mentioned it on reddit), while this variant is not.

[2019-11-22 10:26] kitster opened #1728 "Mi band 4: keep connecting"
#### Before reporting a bug, please confirm the following:
- [Y ] I have read the [wiki](https://github.com/Freeyourgadget/Gadgetbridge/wiki), and I didn't find a solution to my problem / an answer to my question.
- [Y ] I have searched the [issues](https://github.com/Freeyourgadget/Gadgetbridge/issues), and I didn't find a solution to my problem / an answer to my question.
- [ Y] If you upload an

[2019-11-22 10:28] freeloader24 commented on #1714
@csikiszabi: Are you always experience the disconnect or just sometimes. Did you try to set the automatic reconnect (there is no default value so you have to explicitly set it.
Amúgy ha gondolod dobj valami privát elérhetőséget és beszéljünk. Tök jól működik az app, csak kicsit kell vele játszani.

[2019-11-22 11:47] csikiszabi commented on #1714
Szia. Például telefonálás után nincs kapcsolat az óra és a telefon között. A beállításokban engedélyeztettem az automatikus ujracsatlakozást, de nem nagyon akar működni. 305465882 csikiszabi@gmail.com

[2019-11-22 11:59] csikiszabi commented on #1714
Hi. I started using the app. I haven't tried heart rate and blood pressure measurement yet. Everything else works. I have a problem. Sometimes the phone and the clock are disconnected. You will then have to reconnect them manually.

[2019-11-22 14:56] vanous commented on #1273
Hi all,

the team has decided to proceed with Librepay again, see copy/paste of the announcement posted in Matrix:

So thank you very much for proceeding if you still consider supporting the project financially!

<a href="https://liberapay.com/Gadgetbridge/donate" rel="nofollow"><img src="https://camo.githubusercontent.com/ae8af018f80649f3d379eb23dbf59acceaffa24e/68747470733a2f2f6c6962657261706179

[2019-11-22 14:56] vanous commented on #1664
Hi all,

the team has decided to proceed with Librepay again, see copy/paste of the announcement posted in Matrix:

So thank you very much for proceeding if you still consider supporting the project financially!

<a href="https://liberapay.com/Gadgetbridge/donate" rel="nofollow"><img src="https://camo.githubusercontent.com/ae8af018f80649f3d379eb23dbf59acceaffa24e/68747470733a2f2f6c6962657261706179

[2019-11-22 15:00] vanous commented on #1210
Hi all,

the team has decided to proceed with Librepay again, see copy/paste of the announcement posted in Matrix:

So thank you very much for proceeding if you still consider supporting the project financially!

<a href="https://liberapay.com/Gadgetbridge/donate" rel="nofollow"><img src="https://camo.githubusercontent.com/ae8af018f80649f3d379eb23dbf59acceaffa24e/68747470733a2f2f6c6962657261706179

[2019-11-22 15:11] vanous opened #1729 "Donations via Librepay possible again, thank you for donating!"
Hi all,

the team has decided to proceed with Librepay again, see copy/paste of the announcement posted in Matrix:

So thank you very much for proceeding if you still consider supporting the project financially!

<a href="https://liberapay.com/Gadgetbridge/donate" rel="nofollow"><img src="https://camo.githubusercontent.com/ae8af018f80649f3d379eb23dbf59acceaffa24e/68747470733a2f2f6c6962657261706179

[2019-11-22 15:12] #1729 closed

[2019-11-22 16:05] accountForIssues commented on #965
@dakhnod I have noticed this error a few times. Everything seems to be working fine. Usually happens when the device connects but have also seen it appear once or twice randomly.

The report button just opens up my email client with a blank draft hence why I'm commenting here. Is the report button supposed to automatically attach logs or something ?

![20191122_165808](https://user-images.githubus

[2019-11-22 16:08] vanous commented on #1728
Hello,

is MiFit uninstalled/killed?
Can you disconnect (long press on the "band name" in Gadgetbridge, then short press again, to connect?
If you kill Gadgetbridge and start again, is the band listed there?
What do you mean by 159 and 161?

[2019-11-22 17:23] ashimokawa commented on #1728
161 is 0.39.0
The build number. When you download from the f-droid  website, this is in the filename.

[2019-11-22 18:06] dakhnod commented on #965
it seems like fossil added authentication, so there will be no way to use the watch without creating a fossil account...

[2019-11-22 18:12] AluminumTank commented on #1727
Android Flavor is [ArrowOS](https://arrowos.net/) on a Moto G5 Plus (XT1687, codename: potter).

[2019-11-22 18:22] accountForIssues commented on #965
Was that a response to my error ? Now I can't seem to be able to change any functions nor tasker works.

How could it change all of a sudden ? I didn't update the firmware.

[2019-11-22 18:29] dakhnod commented on #965
@accountForIssues did you try wiping the watch from your phone and readding it?

I don't know where that error is comming from yet...

[2019-11-22 18:34] accountForIssues commented on #965
@dakhnod yep, just tried again. I get a toast saying "button get configuration request failed" and that error.

[2019-11-22 19:11] accountForIssues commented on #965
Here's a debug log. Maybe it'll help.
[gadgetbridge.log](https://github.com/Freeyourgadget/Gadgetbridge/files/3881023/gadgetbridge.log)

[2019-11-23 02:09] kitster commented on #1728
MiFit has been uninstalled.
If i kill Gadgetbridge and restart, there is no band in list.
yes, 161 is 0.39

[2019-11-23 10:58] ashimokawa commented on #1728
Thanks, I will try to reproduce in latest Firmware

[2019-11-23 21:22] dc-01 opened #1730 "Unable to pair amazfit gtr"
#### Before reporting a bug, please confirm the following:
- [ ] I have read the [wiki](https://github.com/Freeyourgadget/Gadgetbridge/wiki), and I didn't find a solution to my problem / an answer to my question.
- [ ] I have searched the [issues](https://github.com/Freeyourgadget/Gadgetbridge/issues), and I didn't find a solution to my problem / an answer to my question.
- [ ] If you upload an im

[2019-11-23 23:46] dakhnod commented on #965
hope some issues are fixed now.

The settings are now stored in the app instead of being read from the watch on every synchronisation.

[2019-11-24 10:17] vanous commented on #1730
Just to ask (not having GTR): did you make sure you did **not** unpair the watch before uninstalling MiFit? Is MiFit killed (not running) or removed? I understand that the other app has been working, but... please try to follow [wiki](https://codeberg.org/Freeyourgadget/Gadgetbridge/wiki/Huami-Server-Pairing) step by step.

[2019-11-24 10:31] ashimokawa commented on #1730
Gadgetbridge 0.9.0? Hope you mean 0.39.0

[2019-11-24 11:54] mjanssens opened #1731 "Telegram scret chat doesn't give notification on Mi Band 4"
#### Before reporting a bug, please confirm the following:
- [x] I have read the [wiki](https://github.com/Freeyourgadget/Gadgetbridge/wiki), and I didn't find a solution to my problem / an answer to my question.
- [x] I have searched the [issues](https://github.com/Freeyourgadget/Gadgetbridge/issues), and I didn't find a solution to my problem / an answer to my question.
- [x] If you upload an im

[2019-11-24 14:26] accountForIssues commented on #965
@dakhnod Yes, the previous error has gone away and everything seems to work well.

Any ideas if it will be possible at all to support more than one multi button or is it just impossible ?
Is there support for contacts to watch faces in the works ?

Also, two of the parameters seem to have merged or maybe it's just an erroneous string description. In the screenshot, it says STEPTIMEZONE_OFFSET_COUN

[2019-11-24 22:20] jo930 commented on #965
@accountForIssues "Is there support for contacts to watch faces in the works ?": I created a fork in which that is possible with tasker already: You can store a notification on the watch with a "dummy-package" (just give it any name that will be used to trigger this notification) and then in tasker program something like "if WhatsApp from XYZ, send intent to watch with extra "dummy-package", which

[2019-11-25 14:02] dakhnod commented on #965
@jo930 although i don't like the fact that we have to invent such hacks you could indeed create a pull request for that

[2019-11-25 17:56] fentras opened #1732 "Work profile notifications"
#### Before requesting a new feature, please confirm the following:

- [x] I have read the [wiki](https://github.com/Freeyourgadget/Gadgetbridge/wiki), and I didn't find a solution to my problem / an answer to my question.
- [x] I have searched the [issues](https://github.com/Freeyourgadget/Gadgetbridge/issues), and I didn't find a solution to my problem / an answer to my question.
- [x] If you up

[2019-11-26 10:19] diaasami commented on #924
I believe this was just added in the version 0.39.1, I tried it and I think it works.
![Screenshot_20191126-111742_Gadgetbridge](https://user-images.githubusercontent.com/4257328/69620977-85618900-103e-11ea-803c-fa30f0a2de34.jpg)

[2019-11-26 11:03] ashimokawa commented on #924
@diaasami
Correct

[2019-11-26 11:03] #924 closed

[2019-11-26 12:06] ffranchina commented on #1468
Updated at #924 :D (spoiler: good news)
I think it's possible to close this issue @ashimokawa :) Thanks for your work!

[2019-11-26 13:14] emrsmsrli commented on #1468
Thanks for the heads-up! And thanks for the great work.

[2019-11-26 13:14] #1468 closed

[2019-11-27 13:42] PRIHLOP commented on #492
Hello. I found that support for Amazfit GTR was added recently, but GTR is the same like Pace and Stratos(this watches the same OS platform). Maybe it can help to support Pace and Stratos?

[2019-11-27 18:37] Yodaregs commented on #1728
I received my Mi Band 4 today and I have the same issue. Just want to add: After I add the auth key and i am stuck on the connecting page as is the OP, the phone connects to the band (there is a bluetooth icon), and i even received a notification on the screen.
Furthermore the Mi Band is now "Currently connected" in Bluetooth settings.

[2019-11-27 22:27] microchipster opened #1733 "Notification via intent?"
#### Before requesting a new feature, please confirm the following:
- [x] I have read the [wiki](https://github.com/Freeyourgadget/Gadgetbridge/wiki), and I didn't find a solution to my problem / an answer to my question.
- [x] I have searched the [issues](https://github.com/Freeyourgadget/Gadgetbridge/issues), and I didn't find a solution to my problem / an answer to my question.
- [x] If you upl

[2019-11-28 07:54] ashimokawa commented on #492
@PRIHLOP

This issue is about android based watches, GTR is not, it is a different platform

[2019-11-28 17:25] newhinton commented on #1706
I think this would be a good idea, however i dont think this should be implemented via time. I would suggest to get the phonestate, volumewise, and only send notifications if the device is either loud or on vibrate. If the device is set to muted, gadgetbridge should not send a notification. (If that feature is enabled)

I was thinking about implementing such behaviour

[2019-11-28 19:51] water1309 commented on #1706
Why "shouldn't" this be triggered via time? My phone is always on vibrate for calls and silent for anything else (and some notifications I get on my mi band). So your suggested implementation would not be useful in my situation.

Wouldn't a time based trigger be easier to  implement? Maybe both triggers could be implemented.

[2019-11-28 21:37] FransM commented on #1728
can you close ?

[2019-11-28 21:44] FransM opened #1734 "MB4 connection/synchronisation issue"
#### Before reporting a bug, please confirm the following:
- [x ] I have read the [wiki](https://github.com/Freeyourgadget/Gadgetbridge/wiki), and I didn't find a solution to my problem / an answer to my question.
- [x ] I have searched the [issues](https://github.com/Freeyourgadget/Gadgetbridge/issues), and I didn't find a solution to my problem / an answer to my question.
- [x ] If you upload an

[2019-11-28 21:46] FransM commented on #1734
Maybe I was not fully clear in the bug report, but it remained haning in in Fetching activity data for several hours.
Disconnecting an reconnecting fixed it.

[2019-11-28 23:09] newhinton commented on #1706
I agree, it would not help in your situation. It should not be hard to implement both. However, timebased switching as you suggest is obviously more work from the ui perspective.

Assuming this feature was already implemented, what ui would you expect? A simple "from - to" , or a more elaborate solution?

Also since i am not a maintainer, input from one (especially regarding the ui) would be highl

[2019-11-29 06:21] KelvinMasakadza commented on #1512
Any update on this issue

[2019-11-29 06:28] giner opened #1735 "Mi Band 3: Tries to reconnect but fails"
#### Before reporting a bug, please confirm the following:
- [ ] I have read the [wiki](https://github.com/Freeyourgadget/Gadgetbridge/wiki), and I didn't find a solution to my problem / an answer to my question.
- [ ] I have searched the [issues](https://github.com/Freeyourgadget/Gadgetbridge/issues), and I didn't find a solution to my problem / an answer to my question.
- [ ] If you upload an im

[2019-11-29 08:51] ashimokawa commented on #1735
In Mi Band/Amazfit settings is Bluetooth pairing on?

[2019-11-29 09:13] giner commented on #1735
I tried both (enabling and disabling) and it doesn't seem to have any effect.

[2019-11-29 12:00] sunsero commented on #1733
I'd love to have this feature as well. For the notification it would be useful to be able to set both the scrolling title (where Gadgetbridge displays the app name currently on Mi Band 4) and the text itself.

[2019-11-30 07:43] tlpwka opened #1736 "Amazfit bip alarm issues (GB 0.39.1)"
### I got Gadgetbridge from:
* [ +] F-Droid 0.39.1

#### Your issue is:
Hello, great app! So far I found only an issue with alarms:

- Alarms from mi fit are not visible in gadgetbridge and deleted on sync from bip's.
- If I sync alarms with GB, there is some of them and they cannot be removed (even from mi fit), only one solution I found is reset the watch.
- After syncing alarms with GB, alarm m

[2019-11-30 10:22] ayoung10 commented on #965
Sorry what do you mean by "extra action"? I've got a single press working in tasker by putting "nodomain.freeyourgadget.gadgetbridge.Q_MULTI_BUTTON_PRESSED" into the action field, but where do I put the SINGLE, DOUBLE or LONG?

[2019-11-30 10:23] vanous commented on #1736
Gadgetbridge does not try to maintain anything with Mifit. Quite the opposite - we use Gb exclusively. So if you want to combine things this way, you are a bit on your own.

At this point Gb is doing only one way sync of alarms: from app to the watch.

There is the "Alarms to reserve for upcoming events", settings in Gb, try that...

Just tested and my alarms are 24H.

[2019-11-30 10:29] dakhnod commented on #965
@ayoung10 the intent contains an extra "ACTION". Tasker extracts it automatically and converts it to the variable %action afaik.

[2019-11-30 11:17] ayoung10 commented on #965
So I can put it in as an IF statement in a task? I've tried putting in %long equals 1, but it's not responding. If I remove the IF, the task works.
Do you have any ideas? Thanks for the quick reply before.

[2019-11-30 11:31] dakhnod commented on #965
@ayoung10 yes, you need an if statement.

Precisely, you need to compare %action to "SINGLE", "DOUBLE" and "LONG".

[2019-11-30 11:41] ayoung10 commented on #965
That works perfectly thanks!
Set the IF variable in tasker to: "%action" equals "LONG" and it recognises a long press. Set it to "DOUBLE" recognises double etc.

Thank you for your amazing work - now to see if I can control my lights!

[2019-11-30 12:19] alespg commented on #965
so... with new firmware and new app i can do everything in tasker as before + have long and double presses? or just replicate the official intents?
i am a bit afraid, because i have a lot of code collencting info from notifications and defining angles, will i loose that or just have to change the intents and actions in tasker?

[2019-11-30 12:21] dakhnod commented on #965
@alespg with the new firmware you lose the ability to play notifications from Tasker for now.

Even when I patch it you will not be able to set the angles from Tasker directly ...

[2019-11-30 13:07] vanous commented on #1735
Be careful not to have another phone to which you paired previously to, around.  Happened here...

[2019-11-30 14:19] giner commented on #1735
This is not the case. It was never connected to another phone and the issue is reproduced regardless of the location. The same issue was happening on Android 8.1. If I remember correctly I had the same problem with Mi Band 2. The difference I see with a recent version of Gadgetbridge is that it is trying to reconnect, in past it was me trying manually.

[2019-11-30 14:30] IzzySoft commented on #1729
Yes, I noticed – and simply deleted the notification mails. Thanks for caring!

<sup>PS: still catching up with my mails – just returned froma 2 week vacation.</sup>

[2019-11-30 18:56] alespg commented on #965
oh, too bad. it is amazing what you are getting with new firmware, but i will keep the old one, i am too used to it!

[2019-12-01 02:25] HenrikBengtsson commented on #1554
FWIW, it worked for us by following the instructions at https://codeberg.org/Freeyourgadget/Gadgetbridge/wiki/Amazfit-Bip and restarting the phone;

0. Brand new Amazfit Bip (Model: A1608, Firmware: 1.1.5.02)
1. Installed F-Droid (sideloaded via https://f-droid.org/en/)
2. Installed GadgetBridge 0.39.1 (via F-Droid)
3. Opened GadgetBridge. Enabled access to notifications, etc.
4. In GadgetBridge,

[2019-12-01 13:44] hongcho commented on #1554
Same problem with Amazfit Bip Lite (Firmware 1.1.6.34) with LG G6 (Android 9/Pie).

It does not even appear in the "Device discovery" although MiFit can pair with it and the Android Bluetooth settings page can scan it.

I was able to grab the auth key using the FreeMyBand's Amazfit 3.4.4 mod. So, if GadgetBridge can discover it, I think it will pair, but it's not showing up in GadgetBridge...

BTW

[2019-12-02 01:07] SaulNunez opened #1737 "Change the app icon in Pebble to something more user friendly"
#### Your issue is:
On the device card there's several icons related to the functions the app can do to each device. The app icon is a bit strange as it doesn't has any context and Google's Material Design icons description the icon is displayed as copy, users might be confused between the context that icon it's normally seen. It could be changed from copy to something like [this](https://material

[2019-12-02 01:22] Diastasis commented on #1722
I have the amazfit GTS and I am facing the same issue. However, I have noticed that if you click on your paired device name (connecting... Appears) and then start the discovery for new device, magically the connection happens.

[2019-12-02 07:13] IzzySoft commented on #1737
While I agree the app icon isn't that intuitive: could you please include a screenshot of the proposed one here? At least for me, that linked page doesn't work properly (I only see the icon descriptions, but not the icons themselves). Thanks!

[2019-12-02 11:12] ARMrus commented on #1722
yes, my gtr also connects like that

[2019-12-02 14:44] dakhnod commented on #965
Thought some of you might like this
![1575297803638543286793676548528](https://user-images.githubusercontent.com/26143255/69968350-856bf800-151a-11ea-83dd-6672509dbdec.jpg)

[2019-12-02 14:49] TimH54 commented on #965
That is absolutely super-cool! :)

By the way, I am back from my travels and very willing to test things if that helps. Just wondering: Can I install your Gadgetbridge in parallel with the original version?

[2019-12-02 17:12] ashimokawa commented on #1722
Which phones do you have?

[2019-12-02 17:21] ashimokawa commented on #1737
These are fine. Apache lincense.
Will change the icon

[2019-12-02 20:13] ARMrus commented on #1722
mi8
Android9
LineageOS 16.0

[2019-12-02 21:08] vanous commented on #1737
@IzzySoft firefox enhanced tracking protection :), same here, see the icon here:

<img src=https://fonts.gstatic.com/s/i/materialicons/apps/v1/24px.svg>

[2019-12-02 22:06] IzzySoft commented on #1737
@vanous thanks! It's Waterfox Classic here, though – nice to see that Alex even ported that part back (I still have the XUL goodies, while also getting the latest security fixes – cool that!)

And yes, that's clearer to stand for "apps" :smile:

[2019-12-02 23:41] ashimokawa commented on #1737
Changed in master

[2019-12-02 23:41] #1737 closed

[2019-12-03 09:35] Diastasis commented on #1722
Mi A2 lite
Android 9

[2019-12-04 03:06] hackoder commented on #965
@dakhnod that's great to see! I picked one of these up today and have previously compiled/debugged local GadgetBridge builds, so I'm happy to help. Which branch will you be focusing the HR work in? I can take a look and try to contribute.

[2019-12-04 04:31] andrewleech commented on #965
Nice work on the background image @dakhnod ! I've been playing with the original background image files in the vendor app too, yep they're just basic 8bit raw images.
Have you looked at the icons transmitted for notification use? I've got the original files easily accessible here: https://gitlab.com/alelec/fossil_smartwatches_alelec_android/tree/master/src/main/assets but cannot figure out what th

[2019-12-04 15:01] DanielBorgesOliveira opened #1738 "DB export problem"
Hi friends,

I think there is a problem with DB export. I exported the DB and tried to analyse it in gadgetstats and it shows nothing.

The device model: SPORT v1.60.1 SN 195A.

You can download the DB in the link https://1drv.ms/u/s!AggPFPUrJJSTg8tQf5K7Y8PFqpokwA?e=eeoAWI.

Thank you.

[2019-12-04 18:23] vanous commented on #1738
I can see the data in these tables:
HPLUS_HEALTH_ACTIVITY_OVERLAY
HPLUS_HEALTH_ACTIVITY_SAMPLE

I didn't look now but i think Gadgetstats is using only Huami devices (Mi bands/watches) data from MI_BAND_ACTIVITY_SAMPLE.

Try reporting to the Gadgetstats project.

[2019-12-04 18:52] nr458h opened #1739 "[feature request] Add a calorie-consumption view"
As many of the supported watches offer an calorie-consumption-tracker it would be very useful if this information is viewable similar to the puls, steps and sleep panel.

Thanks anyway from a very happy amazfit gts user.

[2019-12-05 03:19] agilgur5 commented on #1512
Recently got an ID115Plus HR device and was hoping to connect to it with an OSS app like Gadgetbridge, but didn't realize this was different from the plain ID115.

There's [some directions on the wiki](https://codeberg.org/Freeyourgadget/Gadgetbridge/wiki/New-Device-Tutorial) for adding a new device, but it doesn't say how one should get / reverse-engineer all the information / constants needed fo

[2019-12-05 10:14] DeX77 opened #1740 "Support Keep Fit Tracker"
Please add support for "Keep Fit" tracker.
The only Dokumentation I found so far is this:

https://www.xindao.com/productdocumentdownload/SanaStore/5639097501/P33075x+Activity+tracker+Keep+fit+Manual+(1)

[2019-12-05 16:26] dakhnod commented on #965
@andrewleech the background images are not only 8 bit images, but even 2 bit.
Every pixel consists of two bytes.

I was also trying to wrap my head around the notification and complication icons, but did not figure it out yet...

I was thinking that it could be some sort of vector image, but the file size seems to be too consistent for that...

Also, i think that the first two bytes display the im

[2019-12-05 17:13] DanielBorgesOliveira commented on #1738
Okay. I see the data now with the sqlite3 command. Thank very much for the quick reply.

I have a question about the database structure.

What is the difference between HPLUS_HEALTH_ACTIVITY_OVERLAY and HPLUS_HEALTH_ACTIVITY_SAMPLE tables?

There is any documentation about the database structure of the app?

Thank very much.

[2019-12-05 18:11] FransM commented on #1734
I was pondering about this. What happens if the connection with the band is lost while synchronising?
If the read of the data is blocking or if there is a while loop or so that does the reading and that does not terminate until the expected # of bytes are read this could happen

[2019-12-05 19:50] MarionMoseby opened #1741 "Error al ejecutar FragmentSleepchartActivityFragmenter "Text string": not attached to a context"
#### Before reporting a bug, please confirm the following:
- [x] I have read the [wiki](https://github.com/Freeyourgadget/Gadgetbridge/wiki), and I didn't find a solution to my problem / an answer to my question.
- [x] I have searched the [issues](https://github.com/Freeyourgadget/Gadgetbridge/issues), and I didn't find a solution to my problem / an answer to my question.
- [ ] If you upload an im

[2019-12-05 20:21] andrewleech commented on #965
@dakhnod Ah I'd noticed a couple of the backgrounds were different size/format, hadn't figured out what they were. 2bit eh, nice one!

I just figured out what the notification icons are!
That 24 x 24 at the start made perfect sense, and it's right!

So
header: 2 bytes: height, width
footer: 2 bytes, 0xffff
data in between is RLE encoded 8 bit data, with only 2 significant bits (0 == black, 3 == wh

[2019-12-05 22:21] ashimokawa commented on #1741
In 0.39.0 was it still fast?

[2019-12-05 22:25] MarionMoseby commented on #1741
That is correct, yes

[2019-12-07 08:52] ashimokawa opened #1742 "Move to Codeberg.org"
We will try a full migration to codeberg.org on 10th December 2019 in three days.

Technically GitHub has been a mirror for quite some while for wiki and repository, but the main interaction happened still here since Issues and PRs were hard to migrate (lock-in effect)

So What will happen on 2019-12-10

- GitHub repo will be archived to prevent creation of new issues/PRs
- We will try a full migr

[2019-12-07 17:28] newhinton commented on #1706
@water1309 @FransM I was thinking about the user interface. We could use a list to define times where the device should discard notifications, which would be quite much work in the UI (in comparison to my next idea)

Wouldn't it be also possible to simply select a device-calendar on which the device is ignoring notifications? That reduces the work on the ui a bit and in combination with ignoring t

[2019-12-07 20:28] selurvedu commented on #1354
@ashimokawa, apparently it was a ROM issue. It works correcrlt on an AOSP-based Android Pie ROM.

[2019-12-07 20:28] #1354 closed

[2019-12-07 20:29] cpfeiffer commented on #1706
In my opinion, we could borrow the UI from Android's DND "automatic rules". You can add rules for any day combination. All rules have a start and end time. We don't need the calendar-based rules, I think.

These settings should be put into a small settings fragment that would also host the Do not disturb setting (in the settings below the other notification options).

[2019-12-07 20:30] cpfeiffer commented on #1255
Superseded by #1706

[2019-12-07 20:30] #1255 closed

[2019-12-08 11:09] andrewleech commented on #965
In case it helps, I've got working Android/java code for converting notification icons into the appropriate image format for the watch here: https://gitlab.com/alelec/fossil_smartwatches_alelec_android/blob/f0b97a91f5e44ef3b17c93a167c88bf8c2b93731/src/main/java/com/portfolio/platform/service/notification/DianaNotificationComponent.java#L71

[2019-12-08 11:21] dakhnod commented on #965
@andrewleech props for figuring that out! how did you know it was RLE?

So, that simply means that one byte means the repitition count and the next byte equals the repeated value?

Something like 0x01 0x01 0x01 0x01 0x03 would be 0x04 0x01 0x01 0x03 then?

[2019-12-08 11:27] andrewleech commented on #965
Yep that's it! I'm not too sure how I really figured it out, mix of trial and error and thinking the pattern in the hex numbers was really odd, the other morning rle popped into my head and tested right. Your mention of the 2 bit images used elsewhere helped, because I had noticed every second byte was always from 0 to 3. The code I linked to is my patched version of the fossil app I'm working on,

[2019-12-08 12:42] FransM commented on #1706
As mentioned in the ticket a very simple solution would be to not forward notifications during the time the band is programmed to dim. Guess the only UI change would be to enable/disable this

[2019-12-08 12:59] newhinton commented on #1706
@FransM I dont really like that solution, because it does not nessessarily match the wanted timeframe. Also daylightsavings can make it behave strangely and a little bit "unpredictable".

To me, Time and Volume looks like a more straightforward approach

[2019-12-08 21:19] MarionMoseby commented on #1741
Im sorry, but things have returned back to normal with the charts, altgough I still get the error code sonetimes

[2019-12-08 22:06] mupf commented on #965
Where can I get the most recent apk?
https://github.com/dakhnod/Gadgetbridge/tree/fossil-q-hybrid/app/build/outputs/apk/debug is not there anymore

[2019-12-09 06:28] ashimokawa commented on #965
@muph
Yep, I nuked it, the branch is merged into master here now and will be part of official release.

I deleted the file because I did not want to merge them, they definitely do not belong in a git repository.

@dakhnod
If you want to release unofficial versions, you can upload them to the release tab without pushing to git. That would be cleaner imho.

[2019-12-09 10:05] ayoung10 commented on #965
Any idea on when the next release will be? The fossil hybrid commit isn't in 0.39.1.

[2019-12-09 10:11] dakhnod commented on #965
TBH nothing really interesting happened in my last commits.

Just some development for the HR, it can now play every notification, without showing the app icon, though. Yet, there is some work to be done for it to be really usable.

@andrewleech can you tell me how the app icons are linked to the notification filters?

[2019-12-09 14:25] newhinton commented on #1706
@cpfeiffer Yesterday i found out the hard way that sms does not count as a notification (and was therefore not blocked).

It seems only NotificationListener has a dedicated shouldIgnore function, and every external event has it's own rules for letting things through or not.

While that makes sense sometimes (eg. i do not need to check if a phonenumber is ignored when i recieved an ad from an app),

[2019-12-09 18:06] FransM commented on #1734
Yesterday I had lots of connection issues. This morning I found out that something was using a lot of CPU cycles, probably the tripadvisor app. The issues was not gone after a reboot but after killing tripadvisor things started to work again. Guess somewhere there is a timing issue

[2019-12-09 22:19] andrewleech commented on #965
@dakhnod yeah the notification images are all sent to the watch in one list of NotificationFilters. The list only contains the notifications which are enabled in the app.

When each notification is sent to the watch, I believe it's matched up with the filter based on the name, packageId and/or crc (which can be generated with [this crc code I wrote](https://gitlab.com/alelec/fossil_smartwatches_al

[2019-12-09 23:28] dakhnod commented on #965
@andrewleech i think i figured it out, there is a certain part of the notification filter that indicates the icon image.

[2020-01-09 09:50] #1736 closed

[2020-05-06 13:15] #1188 closed

[2020-11-15 09:49] #1330 closed

[2020-11-15 09:49] #1483 closed